<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/images/logo.png" type="image/x-icon">
    <title>Doe+</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>    
    <nav class="fixed-top navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="m-0"><img class="logo d-block" src="../Assets/images/logo.png" alt="Logo da app doe+"></h1>
            </a>            
            <button class="navbar-toggler align-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>                  
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">                    
                        <ul class="navbar-nav align-right">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#sobre">Sobre Doe+</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#info">Informações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#quemsomos">Colaboradores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contato">Contato</a>
                            </li>     
                            <li class="nav-item">
                                <button class="btn btn-outline-light rounded-0" type="submit">Entrar</button>
                            </li>  
                        </ul>                 
                    </div>    
                      
        </div>
    </nav>   

    <section class="container-fluid mt-5">    
        <img class="img-fluid w-100 mt-5" src="../Assets/images/fundo.jpg"/> 
        <div>
            <article id="sobre" class="mt-5">
                <h1 class="fs-1">
                    O Projeto Doe+
                </h1>
                <p>
                    Descrever sobre a motivação do projeto e sobre seus beneficios pessoais e sociais
                </p>
            </article>
        
            <article id="info"class="mt-5">
                <h2 class="fs-1">
                    Você Sabia?
                </h2>
                <p>
                    Exibir cards informativos sobre procedimentos, dicas e informações sobre doação de sangue
                </p>
            </article>
        
            <article id="quemsomos"class="mt-5">
                <h2 class="fs-1">
                    Colaboradores
                </h2>
                <p>
                    Breve descrição de cada participante do projeto
                </p>
            </article>

            <article id="contato" class="mt-5">
                <h2 class="fs-1">
                    Contate-nos!
                </h2>
                <p>
                    Redes sociais e email para contato
                </p>
            </article>
        </div>       
    </section>

    <footer class="footer">
        <p class="fs-5 text-center">
            Projeto Doe+, uma iniciativa do coração!
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>