.navbar{
    background-color: transparent;  
    padding: 0px 20px; 
    background-color: #B43A3A;
    font-size: 14pt;
        
}

.img-panel
{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.img-fundo{    
    
    height: 95vh; /* 100% da altura da tela */   
    margin: 0; /* Remova margens padrão */
}

.logo
{
    width: 85px;
}

footer{
    background-color: #B43A3A;   
    margin-top: 30px;   
    height: 60px;
    color: #FFF;
    padding: 1%;
}

.align-right
{
    margin-left: auto;
}

.cabecalho
{
    padding: 10px;
}

.painel
{
    border-radius: 10px;
}

.bg-vermelho
{
    background-color: #B43A3A;   
}

.width-50 {
    width: 50%;
}

.content
{
    background-image: url("../assets/background/bg-primary.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.link
{
    color: #B43A3A;   
}

.login-panel {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

