.navbar{
    background-color: transparent;  
    padding: 0px 20px; 
    background-color: #B43A3A;
        
}

.img-fundo{    
    height: 100vh;
    width: 100vh;
}

.logo
{
    width: 85px;
}

footer{
    background-color: #B43A3A;   
    margin-top: 30px;   
    height: 60px;
    color: #FFF;
    padding: 1%;
}

.align-right
{
    margin-left: auto;
}

.cabecalho
{
    padding: 10px;
}

.painel
{
    border-radius: 10px;
}

.bg-vermelho
{
    background-color: #B43A3A;   
}

.width-50 {
    width: 50%;
}

.content
{
    background-image: url("../assets/images/bg-primary.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

